
        <!DOCTYPE html>
        <html>
        <head>
            <title>Asset Details</title>
            <link
      href="css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
        </head>
        <body>
            <h1>Asset Details</h1>
            <ul>
                <li><strong>Serial:</strong> AED123456789</li>
                <li><strong>deviceName:</strong> AED Device XYZ-1400</li>
                <li><strong>department:</strong> Emergency</li>
                <li><strong>manufacturer:</strong> ABC Medical Technologies</li>
                <li><strong>manufacturingDate:</strong> 2/15/2024</li>
                <li><strong>model:</strong> XYZ-1400</li>
                <li><strong>status:</strong> FF</li>
                <li><strong>warrantyPeriod:</strong> 3 years</li>
                <li><strong>warrantyEndDate:</strong> 3/4/2024</li>
                <li><strong>agent:</strong> John Smith</li>
                <li><strong>countryOfOrigin:</strong> Canada</li>
                <li><strong>purchasingDate:</strong> 3/1/2024</li>
                <li><strong>installationDate:</strong> 5/5/2024</li>
                <li><strong>purchasingPrice:</strong> 6000 $</li>
                <li><strong>purchasingMethod:</strong> MasterCard</li>
                <li><strong>serviceContract:</strong> With S.P</li>
                <li><strong>serviceContractCompany:</strong> ABC Service Solutions</li>
                <li><strong>serviceContractValue:</strong> $2,000 </li>
                <li><strong>REP_maintainancehistory:</strong> </li>
                
                <!-- Add more details here -->
            </ul>
            <script
      src="js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
        </body>
        </html>
              >
        