<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    href="css/bootstrap.min.css"
    rel="stylesheet"
    crossorigin="anonymous"
  />
    <link rel="stylesheet" href="../public/Assets_u.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <!-- <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"></script> -->
    <!-- <script type="text/javascript" src="data_chart.js"></script> -->
    <title>front page</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark p-3 bg-danger"
      id="headerNav"
    >
      <div class="container-fluid">
        <a class="navbar-brand d-block d-lg-none" href="#">
          <img src="/static_files/images/logos/logo_2_white.png" height="80" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link mx-2 active" aria-current="page" href="#"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="#">s</a>
            </li>
            <li class="nav-item d-none d-lg-block">
              <a class="nav-link mx-4" href="#">
                <img
                  src="../public/png-clipart-logo-health-care-hospital-direct-primary-care-health-blue-text-thumbnail-removebg-preview.png"
                  height="80"
                />
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link mx-2 dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Company
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li><a class="dropdown-item" href="Assets_u.html">Assets</a></li>
                <li><a class="dropdown-item" href="Charts_data.html">Charts</a></li>
                <li><a class="dropdown-item" href="#">Contact us</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" style="text-align: center; font-size: 3rem">
      <div>BioPsy</div>
    </div>
    <section class="assets_beds">
        <h2 style="margin: 15px; text-align: center;">Hospital assets</h2>
        <div class="conatiner">
          <div class="wrap">
            <div class="box one">
              <h1>AED</h1>
            </div>
  
            <div class="box two">
              <h1>Defibrillator</h1>
            </div>
  
            <div class="box three">
              <h1>Hospital Beds</h1>
            </div>
  
            <div class="box five">
              <h1>surgical microscopes</h1>
            </div>
  
            <div class="box six">
              <h1>heart lung bypass</h1>
            </div>
  
            <div class="box seven">
              <h1>EKG</h1>
            </div>
  
            <div class="box eight">
              <h1>Fetal Doppler</h1>
            </div>
  
            <div class="box nine">
              <h1>Ultrasound Machines</h1>
            </div>
  
            <div class="box ten">
              <h1>Surgical Chairs</h1>
            </div>
  
            <div class="box eleven">
              <h1>anesthesia vaporizer</h1>
            </div>
  
            <div class="box tlv">
              <h1>Capongraphy</h1>
            </div>
  
            <div class="box thirteen">
              <h1>insufflators</h1>
            </div>

            <div class="box fourteen">
                <h1>insufflators</h1>
              </div>
              
              <div class="box fifteen">
                <h1>Fetal Doppler</h1>
              </div>

              <div class="box sixteen">
                <h1>Monitors Fetal</h1>
              </div>

              <div class="box seventeen">
                <h1>Fluoroscopy / C-Arm Tables</h1>
              </div>

              <div class="box eighteen">
                <h1>Gastroscopes</h1>
              </div>

              <div class="box nineteen">
                <h1>Heart-Lung Bypass Machines</h1>
              </div>

              <div class="box twenty">
                <h1>High Frequency Desiccators</h1>
              </div>

              <div class="box twenty_one">
                <h1>Hospital Beds</h1>
              </div>

              <div class="box twenty_two">
                <h1>Infant Incubators</h1>
              </div>

              <div class="box twenty_three">
                <h1>Infant Warmers</h1>
              </div>

              <div class="box twenty_four">
                <h1>Infusion Pumps</h1>
              </div>

              <div class="box twenty_five">
                <h1>insufflators</h1>
              </div>

              <div class="box twenty_six">
                <h1>Intra-Aortic Balloon Pumps</h1>
              </div>


              <div class="box twenty_seven">
                <h1>Lab Centrifuges</h1>
              </div>


              <div class="box twenty_eight">
                <h1>Lab Microscopes</h1>
              </div>

              <div class="box twenty_nine">
                <h1>Linear Accelerators - LINAC</h1>
              </div>

              <div class="box thirty">
                <h1>Liposuction</h1>
              </div>

              <div class="box thirty_one">
                <h1>Manifolds, Alarms & Zone Valves</h1>
              </div>

              <div class="box thirty_two">
                <h1>Medical Cabinets and Casework</h1>
              </div>
              
              <div class="box thirty_three">
                <h1>Medical Carts & Tables</h1>
              </div>
              
              <div class="box thirty_four">
                <h1>Medical Computer Carts</h1>
              </div>
              

              <div class="box thirty_five">
                <h1>Medical Hampers</h1>
              </div>
              

              <div class="box thirty_six">
                <h1>Medical Stretchers</h1>
              </div>

              <div class="box thirty_nine">
                <h1>Respiratory Ventilators</h1>
              </div>

              <div class="box thirty_seven">
                <h1>Novaerus Medical Air Purification Systems</h1>
              </div>
              <div class="box thirty_eight">
                <h1>Patient Monitors - Refurbished</h1>
              </div>

              <div class="box fourty">
                <h1>Sequential Compression Devices</h1>
              </div>

              <div class="box fourty_one">
                <h1>Surgical Chairs</h1>
              </div>

          </div>
        </div>
  
        <!-- FOLLOW -->
        <!-- <a class="Follow" href="https://codepen.io/ZaynAlaoudi/" target="blank_"></a> -->
      </section>

      <script
      src="js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
</body>
</html>