<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="submitted_alert_u.js"></script> -->
</head>
<body>
    <h1>User Data Saved</h1>
    <button id="b_red" >return back to main page</button>
    <script>
        document.getElementById("b_red").onclick=function(){
    window.location.replace("/login/1");
    };

    </script>
    <!-- <button></button> -->
</body>
</html>