

._1{
border: solid black 3px;
margin: 15px;
width: 250px;
height: 250px;
text-align: center;
padding: 10px;
}

._2{
    border: solid black 3px;
    margin: 15px;
    width: 250px;
    height: 250px;
    text-align: center;
    padding: 10px;
}

._3{

    border: solid black 3px;
    margin: 15px;
    width: 250px;
    height: 250px;
    text-align: center;
    padding: 10px;
}

._4{

    border: solid black 3px;
    margin: 15px;
    width: 250px;
    height: 250px;
    text-align: center;
    padding: 10px;
}

._5{
    border: solid black 3px;
    margin: 15px;
    width: 250px;
    height: 250px;
    text-align: center;
    padding: 10px;
}

._6{
    border: solid black 3px;
    margin: 15px;
    width: 250px;
    height: 250px;
    text-align: center;
    padding: 10px;
}

._7{
    border: solid black 3px;
    margin: 15px;
    width: 250px;
    height: 250px;
    text-align: center;
    padding: 10px;
}

._8{
    border: solid black 3px;
    margin: 15px;
    width: 250px;
    height: 250px;
    text-align: center;
    padding: 10px;
}

._9{
    border: solid black 3px;
    margin: 15px;
    width: 250px;
    height: 250px;
    text-align: center;
    padding: 10px;
}
.t1{

    border: 3px;
 margin: 5px;
 background-color: bisque;

}
.t2{
    border: 3px;
 margin: 5px;
 background-color: bisque;

    
}
.t3{

    border: 3px;
 margin: 5px;
 background-color: bisque;

       
   }

.t4{

    border: 3px;
 margin: 5px;
 background-color: bisque;

   }
.t5{

    border: 3px;
 margin: 5px;
 background-color: bisque;

       
   }


.t6{

    border: 3px;
 margin: 5px;
 background-color: bisque;


}

.t7{

    border: 3px;
 margin: 5px;
 background-color: bisque;

   }
.t8{

    border: 3px;
 margin: 5px;
 background-color: bisque;

       
   }


.t9{

    border: 3px;
 margin: 5px;
 background-color: bisque;


}

.c1{

    border: 3px;
 margin: 5px;

}
.c2{

    border: 3px;
 margin: 5px;
    
}
.c3{

    border: 3px;
 margin: 5px;
       
   }

 .c4{

    border: 3px;
 margin: 5px;
       
   } 

.c5{

    border: 3px;
 margin: 5px;
       
   } 


.c6{

    border: 3px;
 margin: 5px;
} 

.c7{

    border: 3px;
 margin: 5px;
       
   } 

.c8{

    border: 3px;
 margin: 5px;
       
   } 


.c9{

    border: 3px;
 margin: 5px;
} 

.take_action{
    margin: 5px;
    border: 5px solid black;
    background-color: rgb(172, 41, 72);
    color: white;
    border-radius: 30px;
}
.take_action:hover{
    background-color: purple;
    color: white;
}
