._1{
    border: solid black 3px;
    margin: 15px;
    width: 250px;
    height: 250px;
    text-align: center;
    padding: 10px;
    }
    .t1{
    
        border: 3px;
     margin: 5px;
     background-color: bisque;
    
    }
    .c1{
    
        border: 3px;
     margin: 5px;
    
    }